PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_me
DB_NAME=ms_auth
JWT_SECRET=change_me
INTERNAL_API_KEY=change_me
GMAIL_USER=change_me@gmail.com
GMAIL_APP_PASSWORD=change_me
NODE_ENV=development
REDIS_URL=redis://localhost:6379
