# Dependencias
node_modules/

# Compilación
dist/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Coverage
coverage/
